@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";
/* Глобальные
-------------------------------------------------------------------------------*/
body { font-family: 'helveticaneuecyrroman'; color: #3A3935; font-size: 15px; background: #000; }

/* Типографика */

	/* Ссылки */
	a {color: #395063;font-family: 'helveticaneuecyrroman';}
	a:hover { color:#4D6E84; }
	
	/* Заголовки */
	h1 { font-size:24px; font-weight:normal; }
		
	h2 { font-size:21px; }
		
	h3 { font-size:18px; }
	
	p { margin-top:15px; }
	p + p { margin-top:10px; }

/* Частоиспользуемые
-------------------------------------------------------------------------------*/
.e-table { display: table; width: 100%; }
	.e-cell { display: table-cell; }
	.e-row { display: table-row; }
	.layout-fixed { table-layout: fixed; }

.e-table.align-center > .e-cell, .e-table.align-center > .e-row > .e-cell, .align-center { text-align: center; }
.e-table.align-right > .e-cell, .e-table.align-right > .e-row > .e-cell, .align-right { text-align: right; }
.e-table.align-left > .e-cell, .e-table.align-left > .e-row > .e-cell, .align-left { text-align: left; }

.e-table.align-top > .e-cell, .e-table.align-top > .e-row > .e-cell, .align-top { vertical-align: top; }
.e-table.align-middle > .e-cell, .e-table.align-middle > .e-row > .e-cell, .align-middle { vertical-align: middle; }
.e-table.align-bottom > .e-cell, .e-table.align-bottom > .e-row > .e-cell, .align-bottom { vertical-align: bottom; }

.FL {
	float: left;
}
.FR {
	float: right;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	outline: none;
}

/* Структура
-------------------------------------------------------------------------------*/
body, html {
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}
.content {
	width: 100%;
	min-height: 100%;
	position: relative;
}
	.bg {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
	}
		.bg > div {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			background-position: center center;
			opacity: 0;
			-webkit-transition: 0.8s all;
			-o-transition: 0.8s all;
			transition: 0.8s all;
		}
		.bg > div.active {
			opacity: 0.8;
		}
.bg_1 {
	background: url(../img/bg1.jpg);
}
.bg_2 {
	background: url(../img/bg2.jpg);
}
.bg_3 {
	background: url(../img/bg3.jpg);
}
.bg_4 {
	background: url(../img/bg4.jpg);
}
.bg_5 {
	background: url(../img/bg5.jpg);
}
.bg_6 {
	background: url(../img/bg6.jpg);
}
.section_blur {
	-webkit-filter: blur(30px); 
	filter: blur(30px);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	width: 600px;
	margin-left: -300px;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 600px;
	margin-top: -300px;
	background: rgba(39,39,39,.8);
	border-radius: 500px;
}
.section {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	width: 600px;
	margin-left: -300px;
	padding-top: 150px;
	padding-bottom: 100px;
	height: 600px;
	margin-top: -300px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
}
.time {
	font-size: 150px;
}

.right,
.left {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.right:after,
.left:after {
	width: 40px;
	height: 40px;
	position: absolute;
	content: " ";
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background: url(../img/right.png);
	opacity: 0;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}

.right:hover,
.left:hover {
	background: rgba(0,0,0,.3);
}
.right:hover:after,
.left:hover:after {
	opacity: 1;
}

.left {
	right: auto;
	left: 0;
}
.left:after {
	background: url(../img/left.png);
}

.section a {
	font-size: 20px;
	color: #fff;
}
.modal_person {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 7;
	width: 350px;
	margin-left: -175px;
	padding: 20px;
	height: 350px;
	margin-top: -175px;
	color: #fff;
	font-size: 17px;
	background: rgba(20,20,20,.3);
	border-radius: 3px;
	overflow: auto;
	cursor: pointer;
	display: none;
	opacity: 0;

	-webkit-transition: 0.7s all;
	-o-transition: 0.7s all;
	transition: 0.7s all;
}
	.modal_person p {
		margin: 0;
		margin-bottom: 5px;
		padding: 4px;
		word-wrap: break-word
	}
	.modal_person p:nth-child(even) {
		background: rgba(0,0,0,.2);
	}

.modal_activity.active {

}
	.modal_activity.active .modal_person {
		display: block;
		opacity: 1;
	}
	.modal_activity.active .section {
		-webkit-filter: blur(30px); 
		filter: blur(30px);
	}


.period {
	text-shadow: 0 3px 5px rgba(0,0,0,.3);
	text-transform: capitalize;
	height: 57px;
}

.pomidoro {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;
	z-index: 0;
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.pomidoro.active {
	z-index: 8;
	opacity: 1;
	-webkit-transform: rotate(3600deg);
	-ms-transform: rotate(3600deg);
	-o-transform: rotate(3600deg);
	transform: rotate(3600deg);
	display: block;
}


small {
	position: absolute;
	bottom: 0;
	color: #fff;
	padding: 10px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 12px;
	opacity: 0.9;
	background: rgba(10,10,10,.2);
}

.period.white {
	color: #f5f5f5;
}
.period.green {
	color: #5da51d;
}
.period.yellow {
	color: #ddd22a;
}
.time {
	text-shadow: 0 3px 5px rgba(0,0,0,.3);
	height: 170px;
}

label, input[type="checkbox"] {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
}
input[type="checkbox"], label {
	display: inline-block;
	vertical-align: middle;
}

#pomidoroCanvas { position: absolute; left: 0; top: 0; background: #000; }

.uporot_div {
	position: absolute;
	left: 300px;
	bottom: 0;
	height: 250px;
	width: 250px;
	z-index: 100;
}
	.uporot_div > img {
		position: absolute;
		top: 250px;
		left: 0;
		-webkit-transition: 0.5s all;
		-o-transition: 0.5s all;
		transition: 0.5s all;
	}
	.uporot_div:hover > img {
		top: 0;
	}

/* MENU */
.menu {
	width: 1000px;
	top: 0;
	height: 40px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	z-index: 50;
	overflow: auto;
	-webkit-transition: 0.3s height;
	-o-transition: 0.3s height;
	transition: 0.3s height;
}
	.menu > .menu-content {
		height: 0;
		max-height: 0;
		padding: 0;
		overflow: hidden;
		-webkit-transition: 0.5s height;
		-o-transition: 0.5s height;
		transition: 0.5s height;
	}

.menu.active {
	height: 800px;
	background: rgba(0, 0, 0, .9);
}
	.menu.active > .menu-content {
		height: auto;
		max-height: initial;
		padding: 30px;
	}

.select-bg {
	display: block;
	width: 100%;
	height: 300px;
	background-position: right center;
	background-repeat: no-repeat;
	/*background-size: 100% auto;*/
	border: 1px solid #B000BA;
	margin-bottom: 30px;
	text-decoration: none;

	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
	.select-content {
		height: 298px;
		width: 100%;
		color: #fff;
		font-size: 60px;
		padding: 40px;
		text-decoration: none;
		background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
	}
	.select-bg:hover {
		box-shadow: 0 0 30px #B000BA;
	}


	.menu.active .menu-link {
		display: none;
	}

	.menu-link {
		display: block;
		width: 100%;
		line-height: 40px;
		font-size: 15px;
		color: #fff;
		background: rgba(0,0,0,.3);
		text-align: center;
		text-decoration: none;
		opacity: 0.1;
		font-weight: bold;
		-webkit-transition: 0.4s all;
		-o-transition: 0.4s all;
		transition: 0.4s all;
	}
		.menu-link:hover {
			opacity: 1;
			color: #fff;
		}

.section .small {
	font-size: 10px;
}

.menu-menu {
	display: block;
	margin-bottom: 30px;
}
	.menu-menu > li {
		display: inline-block;
	}
		.menu-menu > li > a {
			padding: 12px 15px;
			color: #fff;
			display: inline-block;
			background: rgba(176, 0, 186, .5);
			-webkit-transition: 0.4s all;
			-o-transition: 0.4s all;
			transition: 0.4s all;
			text-decoration: none;
		}
			.menu-menu > li > a:hover {
				background: rgba(176, 0, 186, 1);
			}
			.menu-menu > li.active > a {
				background: rgba(176, 0, 186, 1);
				box-shadow: 0 0 10px #B000BA;	
			}

.statistic-list {
	display: block;
}
	.statistic-list > li {
		display: block;
		font-size: 18px;
		color: #fff;
		padding: 6px;
	}
	.statistic-list > li:nth-child(even) {
		background: rgba(255, 255, 255, .1);
	}