@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";
/* Глобальные
-------------------------------------------------------------------------------*/
body { font-family: 'helveticaneuecyrroman'; color: #3A3935; font-size: 15px; background: #000; }

/* Типографика */

	/* Ссылки */
	a {color: #395063;font-family: 'helveticaneuecyrroman';}
	a:hover { color:#4D6E84; }
	
	/* Заголовки */
	h1 { font-size:24px; font-weight:normal; }
		
	h2 { font-size:21px; }
		
	h3 { font-size:18px; }
	
	p { margin-top:15px; }
	p + p { margin-top:10px; }

/* Частоиспользуемые
-------------------------------------------------------------------------------*/
.e-table { display: table; width: 100%; }
	.e-cell { display: table-cell; }
	.e-row { display: table-row; }
	.layout-fixed { table-layout: fixed; }

.e-table.align-center > .e-cell, .e-table.align-center > .e-row > .e-cell, .align-center { text-align: center; }
.e-table.align-right > .e-cell, .e-table.align-right > .e-row > .e-cell, .align-right { text-align: right; }
.e-table.align-left > .e-cell, .e-table.align-left > .e-row > .e-cell, .align-left { text-align: left; }

.e-table.align-top > .e-cell, .e-table.align-top > .e-row > .e-cell, .align-top { vertical-align: top; }
.e-table.align-middle > .e-cell, .e-table.align-middle > .e-row > .e-cell, .align-middle { vertical-align: middle; }
.e-table.align-bottom > .e-cell, .e-table.align-bottom > .e-row > .e-cell, .align-bottom { vertical-align: bottom; }

.FL {
	float: left;
}
.FR {
	float: right;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	outline: none;
}

/* Структура
-------------------------------------------------------------------------------*/
body, html {
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}
.content {
	width: 100%;
	min-height: 100%;
	position: relative;
}
	.bg {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
	}
		.bg > div {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			background-position: center center;
			opacity: 0;
			-webkit-transition: 0.8s all;
			-o-transition: 0.8s all;
			transition: 0.8s all;
		}
		.bg > div.active {
			opacity: 0.8;
		}
.bg_1 {
	background: url(../img/bg1.jpg);
}
.bg_2 {
	background: url(../img/bg2.jpg);
}
.bg_3 {
	background: url(../img/bg3.jpg);
}
.bg_4 {
	background: url(../img/bg4.jpg);
}
.bg_5 {
	background: url(../img/bg5.jpg);
}
.bg_6 {
	background: url(../img/bg6.jpg);
}
.section_blur {
	-webkit-filter: blur(30px); 
	filter: blur(30px);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	width: 600px;
	margin-left: -300px;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 600px;
	margin-top: -300px;
	background: rgba(39,39,39,.8);
	border-radius: 500px;
}
.section {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	width: 600px;
	margin-left: -300px;
	padding-top: 150px;
	padding-bottom: 100px;
	height: 600px;
	margin-top: -300px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
}
.time {
	font-size: 150px;
}

.right,
.left {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.right:after,
.left:after {
	width: 40px;
	height: 40px;
	position: absolute;
	content: " ";
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background: url(../img/right.png);
	opacity: 0;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}

.right:hover,
.left:hover {
	background: rgba(0,0,0,.3);
}
.right:hover:after,
.left:hover:after {
	opacity: 1;
}

.left {
	right: auto;
	left: 0;
}
.left:after {
	background: url(../img/left.png);
}

.section a {
	font-size: 20px;
	color: #fff;
}
.modal_person {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 7;
	width: 350px;
	margin-left: -175px;
	padding: 20px;
	height: 350px;
	margin-top: -175px;
	color: #fff;
	font-size: 17px;
	background: rgba(20,20,20,.3);
	border-radius: 3px;
	overflow: auto;
	cursor: pointer;
	display: none;
	opacity: 0;

	-webkit-transition: 0.7s all;
	-o-transition: 0.7s all;
	transition: 0.7s all;
}
	.modal_person p {
		margin: 0;
		margin-bottom: 5px;
		padding: 4px;
		word-wrap: break-word
	}
	.modal_person p:nth-child(even) {
		background: rgba(0,0,0,.2);
	}

.modal_activity.active {

}
	.modal_activity.active .modal_person {
		display: block;
		opacity: 1;
	}
	.modal_activity.active .section {
		-webkit-filter: blur(30px); 
		filter: blur(30px);
	}


.period {
	text-shadow: 0 3px 5px rgba(0,0,0,.3);
	text-transform: capitalize;
	height: 57px;
}

.pomidoro {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.pomidoro.active {
	z-index: 8;
	opacity: 1;
	-webkit-transform: rotate(3600deg);
	-ms-transform: rotate(3600deg);
	-o-transform: rotate(3600deg);
	transform: rotate(3600deg);
	display: block;
}


small {
	position: absolute;
	bottom: 0;
	color: #fff;
	padding: 10px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 12px;
	opacity: 0.9;
	background: rgba(10,10,10,.2);
}

.period.white {
	color: #f5f5f5;
}
.period.green {
	color: #5da51d;
}
.period.yellow {
	color: #ddd22a;
}
.time {
	text-shadow: 0 3px 5px rgba(0,0,0,.3);
	height: 170px;
}

label, input[type="checkbox"] {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
}
input[type="checkbox"], label {
	display: inline-block;
	vertical-align: middle;
}

#pomidoroCanvas { position: absolute; left: 0; top: 0; background: #000; }

.uporot_div {
	position: absolute;
	left: 300px;
	bottom: 0;
	height: 250px;
	width: 250px;
	z-index: 5;
}
	.uporot_div > img {
		position: absolute;
		top: 250px;
		left: 0;
		-webkit-transition: 0.5s all;
		-o-transition: 0.5s all;
		transition: 0.5s all;
	}
	.uporot_div:hover > img {
		top: 0;
	}

/* MENU */
.menu {
	display: block;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 500px;
	margin-left: -300px;
	margin-top: -250px;
	border-radius: 3px;
	box-shadow: 3px 3px 15px #000;
	background: rgba(0,0,0,.9);

	-webkit-transition: 0.7s all;
	-o-transition: 0.7s all;
	transition: 0.7s all;
	z-index: 1;
	opacity: 0;
}
	.menu.active {
		opacity: 1;
		z-index: 9999;
	}

.menu .navigation {
	position: absolute;
	top: 0;
	margin-top: -43px;
	margin-left: 10px;
}
	.navigation > li {
		display: inline-block;
		margin-left: -5px;
		vertical-align: bottom;
	}
		.navigation > li:first-child {
			margin-left: 0;
		}
			.navigation > li:first-child > a {
				border-left: 0;
				border-radius: 2px 0 0 0;
			}
			.navigation > li:last-child > a {
				border-radius: 0 2px 0 0;
			}
		.navigation > li > a {
			display: inline-block;
			padding: 10px;
			font-size: 13px;
			color: #fff;
			background: #202020;
			text-decoration: none;

			-webkit-transition: 0.1s padding;
			-o-transition: 0.1s padding;
			transition: 0.1s padding;
		}	
			.navigation > li > a:hover {
				padding: 12px 10px;
				background: rgb(30,87,153); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(14,124,214,1) 99%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(14,124,214,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(14,124,214,1) 99%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(14,124,214,1) 99%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(14,124,214,1) 99%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(14,124,214,1) 99%); /* W3C */
			}
			.navigation > li > a.active {
				border-radius: 2px 2px 0 0;
				padding: 14px 10px;
				background: rgb(30,87,153); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(41,137,216,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%); /* W3C */
			}

.menu-content {
	position: absolute;
	right: 10px;
	bottom: 10px;
	top: 10px;
	left: 10px;
	border-radius: 3px;
	overflow: auto;
	color: #fff;
	padding: 10px;
}

.login-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.login-form input {
	width: 200px !important;
	margin-left: 5px;
}
.login-form label {
	text-align: right;
	display: block;
	margin-bottom: 20px;
}

.btn {
	padding: 7px 12px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	background: rgb(0,71,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,71,153,1) 0%, rgba(14,124,214,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,71,153,1)), color-stop(99%,rgba(14,124,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,71,153,1) 0%,rgba(14,124,214,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,71,153,1) 0%,rgba(14,124,214,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,71,153,1) 0%,rgba(14,124,214,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,71,153,1) 0%,rgba(14,124,214,1) 99%); /* W3C */

	border: 0;
	box-shadow: 0 1px 0 1px rgba(0, 71, 153, .9);

	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.btn:hover {
	box-shadow: 0 1px 0 1px rgba(0, 71, 153, .3);
}
.btn:active {
	background: rgb(0,71,153); /* Old browsers */
	background: rgb(0,56,130); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,56,130,1) 0%, rgba(0,116,211,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,56,130,1)), color-stop(99%,rgba(0,116,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,56,130,1) 0%,rgba(0,116,211,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,56,130,1) 0%,rgba(0,116,211,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,56,130,1) 0%,rgba(0,116,211,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,56,130,1) 0%,rgba(0,116,211,1) 99%); /* W3C */
}

.menu-block {
	border: 3px solid #002159;
	height: 180px;
	width: 180px;
	display: inline-block;
	opacity: 0.8;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	background: #000;
	margin-left: 2px;
}
.menu-block:nth-child(0) {
	margin-left: 0;
}

.menu-block-bg {
	margin: 0 !important;
	margin-top: 20px !important;
	height: 250px;
	width: 100%;
	display: block;
	overflow: hidden;
}
	.menu-block-bg:first-child {
		margin-top: 0;
	}

.menu-block:hover,
.checkbox:hover > span {
	border-color: rgb(0, 73, 153);
	box-shadow: 0 0 10px #005FB7;
	opacity: 1;
}

.checkbox {
	font-size: 20px;
	color: #fff;
	margin-left: 2px;
	display: inline-block;
	font-weight: bold;
}
	.checkbox > input {
		display: none;
	}
	.checkbox > input:checked + span {
		background: rgb(0,55,206); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(0,55,206,1) 0%, rgba(0,116,211,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,55,206,1)), color-stop(100%,rgba(0,116,211,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,55,206,1) 0%,rgba(0,116,211,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,55,206,1) 0%,rgba(0,116,211,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,55,206,1) 0%,rgba(0,116,211,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,55,206,1) 0%,rgba(0,116,211,1) 100%); /* W3C */
		color: #000;
		opacity: 1;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	}
	.checkbox > span {
		border-radius: 3px;
		border: 1px solid #002159;
		height: 140px;
		width: 140px;
		display: inline-block;
		-webkit-transition: 0.2s all;
		-o-transition: 0.2s all;
		transition: 0.2s all;
		background: #000;
		text-align: center;
		line-height: 25px;
	}
		.checkbox > span > table {
			height: 140px;
			width: 140px;
		}
		.checkbox > span > table td {
			vertical-align: middle;
		}

.statistic_list {
	display: block;
}
	.statistic_list > li {
		display: block;
		padding: 4px;
	}
		.statistic_list > li img {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
		.statistic_list > li:nth-child(even) {
			background: rgba(50, 50, 50, .5);
		}

label {
	font-size: 14px;
	color: #fff;
}

input[type="text"],
input[type="password"] {
	display: inline-block;
	border-radius: 3px;
	width: 100%;
	padding: 5px;
	border: 1px solid #fff;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
input[type="text"]:focus,
input[type="password"]:focus {
	box-shadow: 0 0 5px 3px #2989D8;
}