<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta charset="utf-8" />
		<title>ТОМАТОС ПРОДАКШН</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/html5.js"></script>
		<!--[if IE]>
	    	<script src="js/html5.js"></script>
	    <![endif]-->
	</head>
<body ng-controller="appController">
	
	<div class="content">
		<div>
			<div class="bg">
				<div ng-repeat="i in countBg" class="bg_{{i + 1}}" ng-class="{'active' : activeDiv == i}"></div>
			</div>
			<a href="#" ng-click="rightClick();" class="right"></a>
			<a href="#" ng-click="leftClick();" class="left"></a>
		</div>
		<div class="section_blur"></div>
		<div class="modal_activity" ng-class="{'active' : modalPerson}">
			<div class="section">
				<div class="period {{periodClass}}" ng-bind="periodName"></div>
				<div class="time"><span ng-bind="time.minutes"></span>:<span ng-bind="time.seconds"></span></div>
				<div>
					<a href="#" ng-click="modalPerson=!modalPerson">Помидорят <span ng-bind="countPersonPomidoro"></span> пользователей</a>
				</div>
				<div>
					<input type="checkbox" id="randomBg" ng-model="randomChecked" checked="checked">
					<label for="randomBg">
						Рандомный фон
					</label>
				</div>
			</div>
			<div id="modal" class="modal_person" ng-click="modalPerson=!modalPerson">
				<p ng-repeat="item in sessionItems">
					{{item.name ? item.name : "Анонимный садовод " + ($index + 1)}}
				</p>
			</div>
			<div ng-model="tomatos">
				<img src="img/pomidor.png" ng-class="{'active' : tomatos}" class="pomidoro" alt="">				
			</div>
		</div>

	</div>

	<small>We call it "beta" because it's betta than nothing!</small>

	<audio id="endTimer">
		<source src="sounds/endsound.mp3" />
	</audio>


	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>


</body>
</html>