<nav ng-class="{'active':menuHidden}" id="menu" class="menu">
	<ul class="navigation">
		<li><a href="#" ng-class="{'active' : activeSelection('login')}"  ng-click="editSelection('login');">Логин</a></li>
		<li><a href="#" ng-class="{'active' : activeSelection('statistic')}"  ng-click="editSelection('statistic');">Статистика</a></li>
		<li><a href="#" ng-class="{'active' : activeSelection('settings')}"  ng-click="editSelection('settings');">Настройки</a></li>
		<li><a href="#" ng-class="{'active' : activeSelection('editBack')}"  ng-click="editSelection('editBack');">Выбор фона</a></li>
		<li><a href="#" ng-click="closedmenu();">Закрыть</a></li>
	</ul>
	<div class="menu-content" ng-switch on="selection">
		<div ng-switch-when="login">
			<form class="login-form">
				<label for="login">
					Логин: 
					<input type="text">
				</label>
				<label for="password">
					Пароль: 
					<input type="password">
				</label>
				<label for="">
					<button class="btn">Войти</button>
				</label>
			</form>
		</div>
		<div ng-switch-when="statistic">
			<ul class="statistic_list">
				<li>Ваш логин: <b>Барбара стрейзенд</b></li>
				<li>Осталось помидорин до лонгбрейка: <img src="img/pomidor_oporot_mini.png" ng-repeat="i in getNumber(nextLongBreak) track by $index" height="20" width="20" alt=""></li>
			</ul>
		</div>
		<div ng-switch-when="settings">
			<label class="checkbox" for="randomBg">
				<input type="checkbox" id="randomBg" ng-model="randomChecked">
				<span>
					<table>
						<tr>
							<td>Рандомный фон</td>
						</tr>
					</table>
				</span>
			</label>
			<label class="checkbox" for="chinaPomidorOn">
				<input type="checkbox" id="chinaPomidorOn" ng-click="chinaPomidorOn();" ng-model="trueMatrix">
				<span>
					<table>
						<tr>
							<td>Китайские символы</td>
						</tr>
					</table>
				</span>
			</label>
		</div>
		<div ng-switch-when="editBack">
			<a href="#" ng-repeat="i in countBg" ng-click="selectBg(i)" class="menu-block menu-block-bg">
				<img src="img/bg{{i+1}}.jpg" alt="">
			</a>
		</div>
	</div>
</nav>